<div class="columns">
        <div class="column"></div>
        <div class="column is-four-fifths has-background-primary">
                
                ${resultData.map (images => {
                return `<ul><img class="lazy" data-src=${images.picture}></ul>
                <button class="button is-primary is-inverted">
                    <a href="/partial-single-img/${images.id}">Open Image</a>
                </button>
                <button class="button is-primary is-inverted">
                    <a href="#">Like</a>
                </button>
                <button class="button is-primary is-inverted">
                    <a href="#">Uploader</a>
                </button>
                `}).join('')}
                
        </div>
        <div class="column"></div>
</coulmns>






