<div>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-four-fifths has-background-primary">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter your username">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Enter your password">
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a class="button is-primary">
                    Start Sharing!
                    </a>
                </p>
            </div>
        </div>
        <div class="column"></div>
    </div>
</div>